In [2]:
import pandas as pd

cols = ['MAG. CODE','REF.', 'DESC.REF', 'QUAN']

inv01_df = pd.read_excel(r'C:\Users\file.xlsx', sheet_name='INV01', usecols=cols, skiprows=2)
inv02_df = pd.read_excel(r'C:\Users\file.xlsx', sheet_name='INV02', usecols=cols, skiprows=2)
inv03_df = pd.read_excel(r'C:\Users\file.xlsx', sheet_name='INV03', usecols=cols, skiprows=3)

In [3]:
inv01_df.head()

   MAG. CODE     REF.      DESC.REF   QUAN
0         12  CT1H054  CARDBOARD 54   3000
1         12  CT1H055  CARDBOARD 55   8000
2         12  CT1H056  CARDBOARD 56   3000
3         12   CT1H13  CARDBOARD 63   5000
4         12   CT1H19  CARDBOARD 69  10000

In [4]:
db=pd.concat([inv01_df,inv02_df,inv03_df], ignore_index=True)

In [5]:
db.head()

   MAG. CODE     REF.      DESC.REF   QUAN
0         12  CT1H054  CARDBOARD 54   3000
1         12  CT1H055  CARDBOARD 55   8000
2         12  CT1H056  CARDBOARD 56   3000
3         12   CT1H13  CARDBOARD 63   5000
4         12   CT1H19  CARDBOARD 69  10000

In [6]:
groups = db.groupby('REF.').agg({'QUAN': 'sum'})

In [7]:
groups.head()

         QUAN
REF.
CT1H054  5108
CT1H055  8000
CT1H056  5480
CT1H12    962
CT1H13   5000